@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');

body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  color: #fff;
  line-height: 100vh;
}

.celebrity-box {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  align-items: center;
  width: 100%;
  min-height: fit-content;
  overflow: auto;
  height: calc(100vh - 70px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
